@model LoginDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>KubaRestoran Giriş</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/colorlib-regform-32/css/nunito-font.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="~/colorlib-regform-32/css/style.css" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="~/colorlib-regform-32/images/hamburger.jpg" alt="form" style="width:484px;height:450px; object-fit:fill;">
			</div>
			<form class="form-detail" method="post">
				<h2>Giriş Formu</h2>
				<div class="form-row">
					<input type="text" id="full-name" class="input-text" placeholder="Kullanıcı Adınız" required asp-for="UserName">
				</div>
				
				<div class="form-row">
					<input type="password" id="password" class="input-text" placeholder="Şifreniz" asp-for="Password" required>
				</div>
				<button class="btn btn-dark">Giriş Yap</button>
			</form>
		</div>
	</div>
</body>
</html>


